body {
    font-family: Montserrat, Poppins, Lato, Inter, Roboto;
    display: flex;
    margin: 0;
}

.header {
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

img {
    margin-left: 5px;
}

.links-header {
    display: flex;
    gap: 20px;
    font-size: 18px;
    margin: 0 40px;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}